# This workflow runs on every push and checks whether everything looks good

name: Daily Check

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  daily_check:
    env:
      CARGO_TERM_COLOR: always
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        rust: ["stable", "nightly"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Cache Dependencies & Build Outputs
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-${{ matrix.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Rust nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          components: clippy, rustfmt

      - name: Install Rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install Rust tooling
        uses: taiki-e/install-action@v1
        with:
          tool: nextest

      - uses: actions/checkout@v3

      - name: Cargo fmt
        uses: actions-rs/cargo@v1
        with:
          toolchain: nightly
          command: fmt
          args: --all -- --check

      - name: Cargo clippy
        uses: actions-rs/cargo@v1
        with:
          toolchain: nightly
          command: clippy
          args: -- -D warnings

      - name: Cargo nextest
        uses: actions-rs/cargo@v1
        with:
          command: nextest
          args: run

      - name: Cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
